<script type="text/javascript">

$(function(){
var count = 1;

function get_status(){
    $.ajax({
      url: '/master/get_status',
      type: 'GET',
      success: function(json){
        if(json.status == "stanby"){
          window.location.href = "/master/stanby";
        }
      }
    });
}


function refresh(){
    get_status();

    $.ajax({
        url: '/master/get_cheers',
        type: 'GET'
    });
    setTimeout(refresh, 1000);
    count++;
}

  refresh();

    
});

</script>




<% if @now_playing_player %>
<p class="wakarimi_count heart">
<span id="counter">
<%= render :partial =>  "count" %>
</span>
</p>

<div id="wrapper">
	<canvas id="canv"></canvas>
</div>
<div id="fever_time">
	<img src="takamari_dj.png" id="takamari_dj" class="animated infinite">
	<img src="fever.png" id="fever">
</div>
<script src="light_ball.js"></script>

<div id="users">
<%= render :partial => "users" %>
</div>

<div class="marquee">
	<p>現在　<%= @now_playing_player.name %>　がプレイ中です。</p>
</div>
<% else %>
<br /><br />
<div class="marquee">
  <p>現在準備中です。プレイ開始まで少々お待ちください。</p>
</div>
<% end %>