<script type="text/javascript">

$(function(){
var count = 1;

function get_status(){
    $.ajax({
      url: '/master/get_status',
      type: 'GET',
      success: function(json){
        if(json.status == "stanby"){
          window.location.href = "/master/stanby";
        }
      }
    });
}


function refresh(){
    get_status();
    
    $.ajax({
        url: '/master/get_cheers',
        type: 'GET',
        success: function(json){
          var step_status=json.step_status;
          var counter = json.counter;
          var current_level;
          current_level = $(".current_level").data("level");
          if(step_status == "1"){
            if($(".current_level").data("level") != $(".max").data("level")){
              $(".current_level").removeClass("current_level");
              current_level += 1;
              $(".level"+current_level).addClass("current_level");
              $(".level"+current_level).removeClass("blank");
            }
          } else if(step_status == "-1"){
            if($(".current_level").data("level") != $(".min").data("level")){
              $(".current_level").addClass("blank");
              $(".current_level").removeClass("current_level");
              current_level = current_level - 1;
              $(".level"+current_level).addClass("current_level");
            }
          };
          
          $("#counter").text(counter);
        }
    });
    
    setTimeout(refresh, 3000);
    count++;
}
refresh();
});

</script>

<div class="container">

</div> <!-- /container -->

<% if @now_playing_player %>
<br><br><br><br><br>
<div class="container main">
  <div class="row col-md-4 col-md-offset-2">
    <div class="meter level20 blank max" data-level="20"></div>
    <div class="meter level19 blank" data-level="19"></div>
    <div class="meter level18 blank" data-level="18"></div>
    <div class="meter level17 blank" data-level="17"></div>
    <div class="meter level16 blank" data-level="16"></div>
    <div class="meter level15 blank" data-level="15"></div>
    <div class="meter level14 blank" data-level="14"></div>
    <div class="meter level13 current_level" data-level="13"></div>
    <div class="meter level12" data-level="12"></div>
    <div class="meter level11" data-level="11"></div>
    <div class="meter level10" data-level="10"></div>
    <div class="meter level9" data-level="9"></div>
    <div class="meter level8" data-level="8"></div>
    <div class="meter level7" data-level="7"></div>
    <div class="meter level6" data-level="6"></div>
    <div class="meter level5" data-level="5"></div>
    <div class="meter level4 min" data-level="4"></div>
  </div>
  <div class="col-md-12 centered sub heart">♡</div>
	<div id="counter" class="col-md-6 centered count">
	  <%= render :partial =>  "count" %></div>
	</div><!-- /row -->
</div> <!-- /container -->

<% else %>

<br /><br />
<div class="marquee">
  <p>現在準備中です。プレイ開始まで少々お待ちください。</p>
</div>
<% end %>