@import "bootstrap-sprockets";
@import "bootstrap";


*{
box-sizing:border-box;
margin: 0;
padding: 0;
}

html, body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow:hidden;
}

@font-face {
  font-family: users-font;
  src: url("/HuiFont29.woff") format("woff");
}

#users {
  font-family: users-font;
  font-size: 30px;
  top: 100px;
  position: absolute;
  font-weight: normal;
  font-style: normal;
}

.highlight1 {
    background: linear-gradient(transparent 50%, #ffff00 0%);
    line-height: 1.3em;
}

.highlight2 {
    background: linear-gradient(transparent 50%, #7cfc00 0%);
    line-height: 1.3em;
}

.thead_text {
  font-size: 15px;
}

.wakarimi_count {
  position: absolute;
  top: 30%;
  left: 25%;
  font-size: 200px;
  margin-top: -45px;
  margin-left: -50px;
}

input {
  outline:none;
}

.heart {
	font-size: 300px;
	color: #FF3D67;
	-webkit-animation: heart-beats .3s infinite alternate;
  animation: heart-beats .3s infinite alternate;
	transform-origin: center;
}

/* Animation Setting */
@-webkit-keyframes heart-beats {
	to { -webkit-transform: scale(1.1); }
}
@keyframes heart-beats {
	to { transform: scale(1.1); }
}

/* Basic style */
body {
  text-align: center;
  background: #F4CCCC;
}
h1 {
  font-family: 'Chewy', cursive;
  margin-top: 0;
  color: #FF9EB6;
}

.marquee {
width:100%;
padding:0.5em 0;
overflow:hidden;
background-color:#f6f6f6;
margin-bottom:10px;
position:absolute;
top: 0%;
opacity: 0.6;
}

.marquee p:after {
content:"";
white-space:nowrap;
padding-right:50px;
}

.marquee p {
margin:0;
padding-left:100%;
display:inline-block;
white-space:nowrap;
	-webkit-animation-name:marquee;
	-webkit-animation-timing-function:linear;
	-webkit-animation-duration:10s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-name:marquee;
	-moz-animation-timing-function:linear;
	-moz-animation-duration:10s;
	-moz-animation-iteration-count:infinite;
	-ms-animation-name:marquee;
	-ms-animation-timing-function:linear;
	-ms-animation-duration:10s;
	-ms-animation-iteration-count:infinite;
	-o-animation-name:marquee;
	-o-animation-timing-function:linear;
	-o-animation-duration:10s;
	-o-animation-iteration-count:infinite;
	animation-name:marquee;
	animation-timing-function:linear;
	animation-duration:10s;
	animation-iteration-count:infinite;
	font-size: 50px;
}
@-webkit-keyframes marquee {
  from   { -webkit-transform: translate(0%);}
  99%,to { -webkit-transform: translate(-100%);}
}
@-moz-keyframes marquee {
  from   { -moz-transform: translate(0%);}
  99%,to { -moz-transform: translate(-100%);}
}
@-ms-keyframes marquee {
  from   { -ms-transform: translate(0%);}
  99%,to { -ms-transform: translate(-100%);}
}
@-o-keyframes marquee {
  from   { -o-transform: translate(0%);}
  99%,to { -o-transform: translate(-100%);}
}
@keyframes marquee {
  from   { transform: translate(0%);}
  99%,to { transform: translate(-100%);}
}

/*******************************
* 左からの吹き出し
********************************/
.left_balloon {
    position: absolute;
    background: #fff;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    top: 80%;
    left: 30%;
    border-radius: 15px;
    margin-right: 20%;
    clear: both;
    max-width: 500px;
    height: 100px;
    float: left;
    font-size: 30px;
}
.left_balloon:after,
.left_balloon:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.left_balloon:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 7px;
    margin-top: -7px;
}
.left_balloon:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000;
    border-width: 8px;
    margin-top: -8px;
}
 
/*******************************
* 右からの吹き出し
********************************/
.right_balloon {
    position: relative;
    background: #85e249;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 20%;
    clear: both;
    max-width: 500px;
    float: right;
}
.right_balloon:after,
.right_balloon:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.right_balloon:after {
    border-color: rgba(133, 226, 73, 0);
    border-left-color: #85e249;
    border-width: 7px;
    margin-top: -7px;
}
.right_balloon:before {
    border-color: rgba(119, 119, 119, 0);
    border-left-color: #777;
    border-width: 8px;
    margin-top: -8px;
}
 
/*******************************
* 割り込みを解除
********************************/
.clear_balloon{
  clear: both;
}

#someone {
  width: 80px;
  height: 80px;
}

body > #wrapper{
z-index: 0;
width: 100%;
height: 100%;
min-height: 100%;
}

canvas{
	z-index: 0;
}

#fever_time {
	position: absolute;
	top: 50%;
	right: 10%;
}
#takamari_dj {
	top: 10%;
}

#fever {
	top: -100px;
	position: absolute;
	left: 0%;
}