<script type="text/javascript">


function get_status(){
    $.ajax({
      url: '/get_status',
      type: 'GET',
      success: function(json){
        if(json.status == "stanby"){
          window.location.href = "/stanby";
        }
      }
    });
}

function refresh(){
    get_status();   
    $.ajax({
    	url: '/get_cheers',
        type: 'GET'
    });
    setTimeout(refresh, 1000);
}

$(function(){

  $(document).snowfall({
  	image: "heart.png",
	flakeCount: 5,
	minSize: 60,
	maxSize: 70,
	round: false,
  });

  refresh();

});

</script>

<section id="main_content">
<% if @now_playing_user %>
<p class="wakarimi_count heart">
<span id="counter">
<%= render :partial =>  "count" %>
</span>
</p>
<br />
<br />
<div class="marquee">
	<p>現在　<%= @now_playing_user.player_name %>　がプレイ中です。</p>
</div>
<% else %>
<br /><br />
<div class="marquee">
  <p>現在準備中です。プレイ開始まで少々お待ちください。</p>
</div>
<% end %>

</section>
