<script type="text/javascript">

$(function(){
var count = 1;

function get_status(){
    $.ajax({
      url: '/master/get_status',
      type: 'GET',
      success: function(json){
        if(json.status == "stanby"){
          window.location.href = "/master/stanby";
        } else if(json.status == "fever"){
          window.location.href = "/master/fever";
        }
      }
    });
}


function refresh(){
    get_status();
    
    $.ajax({
        url: '/master/get_cheers',
        type: 'GET'
    });
    setTimeout(refresh, 3000);
    count++;
}

function rect() {
    $('#fever_time').animate({
        marginTop: '-=80px'
    }, 300).animate({
        marginTop: '+=80px'
    }, 300);
    setInterval('rect()', 1000); //アニメーションを繰り返す間隔
}

  refresh();
  setInterval(rect, 1000); //アニメーションを実行
 

    
});

</script>




<% if @now_playing_player %>
<p class="wakarimi_count heart">
<span id="counter">
<%= render :partial =>  "count" %>
</span>
</p>


<div id="users">
<%= render :partial => "users" %>
</div>

<div class="marquee">
	<p>現在　<%= @now_playing_player.name %>　がプレイ中です。</p>
</div>
<% else %>
<br /><br />
<div class="marquee">
  <p>現在準備中です。プレイ開始まで少々お待ちください。</p>
</div>
<% end %>